<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sundial Nexxus</title>
    <link rel="stylesheet" href="/src/views/css/login.css">
</head>
<body>
   <div class="container"> 
    <div class="container-2">
        <h1>Inicio Sesion</h1>
        <label for="cc"></label>
        <input type="cc" id="cc" placeholder="Número de Documento">
         <label for="contrasena"></label>
        <input type="contrasena" id="contrasena" placeholder="contraseña">
         <label for="codigoEmpresa"></label>
        <input type="codigoEmpresa" id="codigoEmpresa" placeholder="Codigo de Empresa">
        <!-- verificar con javascript y darle la funcionalidad al boton (miguel localStorage3) -->
        <div class="btn-enviar">enviar</div>  
    </div>
   </div>
   <script src="/src/utils/localstorage.js"></script>
   <script src="/src/controllers/loginController.js"></script>
   
</body>
</html>